export BFL_API_KEY="$(op read op://up/bfl-api-key/credential)"

export REPLICATE_API_TOKEN="$(op read op://up/replicate-api-token/credential)"

export OPENAI_API_KEY="$(op read op://up/openai-api-key/credential)"

export RUNWAY_API_KEY="$(op read op://up/runway-api-key/credential)"

export AWS_ACCESS_KEY_ID="$(op read op://up/aws-access-key-id/credential)"
export AWS_ENDPOINT_URL_S3="$(op read op://up/aws-endpoint-url-s3/credential)"
export AWS_REGION="$(op read op://up/aws-region/credential)"
export AWS_SECRET_ACCESS_KEY="$(op read op://up/aws-secret-access-key/credential)"
export BUCKET_NAME="$(op read op://up/bucket-name/credential)"

